fieldset {
    border: 1px solid grey;
    /*border: solid dotted dashed double; */
    border-style: solid ;
    border-width: 5px;
    /*margin: 1px 20px 1px 20px; */
    padding: 1px 40px;
    width: 300px;
    margin: 1px auto;
    box-shadow: 15px 15px 10px rgba(145,0,0,0.5);
    border-radius: 20px;
}

legend {
    border-style: solid;
    background-color: rgb(231, 146, 18);
    border-radius: 10px;
    width: 100px;
    align-items: center;
}

textarea.text {
    color:grey;
    background-image:url("userIcon.jpg");
    background-position: bottom left;
    background-size: 10%;
    background-repeat: no-repeat;
}

textarea.text:focus {
    color: black;
}

#user {
    background-size: 20px;
    background-repeat: no-repeat;
}

.passwd {
    background-size: 20px;
    background-repeat: no-repeat;
}


#subbtn {
    width: 80px;
    float: right;

}

/* Mobile phone*/
#head_wrap {
	padding-left: 0;
}


#page_wrap {
    padding-left: 225px;
}

/* Desktop */ 
@media(min-width: 768px){
	/* Side Menu */
	.s_menu{
		background-color: rgba(20,20,20,1); 
		position: fixed; 
		top: 51px; 
		left: 225px;
		margin-left: -225px;
		width:225px; 
		height: 100%;
	}
	.s_menu li {
		width: 225px;
		display: block;
	}
}

li.top_menu_item {
	display: inline-block;
	float: right;
	padding-right: 20px;
	
}
		
.top_menu {
	background-color: rgba(20,20,20,1);
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

body{
    background-color: rgb(64, 93, 112);
}

footer {
    align-items: right;
}

form {
    align-content: center;
}
